.serie-form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .serie-form h1, .serie-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 100px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .image-preview {
    display: block;
    margin: 10px 0;
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-list {
    margin-top: 20px;
  }
  
  .product-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-list th,
  .product-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .save-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  .serie-detalle{
    display: flex;
}
